<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Projeto Leitura</title>

        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css">
    
        <!-- Main Styles CSS -->
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/fonts.css">

        <!-- Main Font -->
        <script src="js/webfontloader.min.js"></script>
        <script>
            WebFont.load({
                google: {
                    families: ['Roboto:300,400,500,700:latin']
                }
            });
        </script>
    </head>
    <body>
        
        <!-- Header Standard -->
        
        <div class="main-header">
            <div class="content-bg-wrap bg-group"></div>
            <div class="container">
                <div class="row">
                    <div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
                        <div class="main-header-content">
                            <h1>Udacity - Leitura</h1>
                            <p>Aqui, você poderá criar e gerenciar facilmente tópicos para compartilhar com o
                                comunidade! Incluímos alguns dos tópicos mais usados, para que você possa se divertir com eles!</p>
                        </div>
                    </div>
                </div>
            </div>
            <img class="img-bottom" src="img/group-bottom.png" alt="friends">
        </div>

        <!-- Header Standard -->
    
        <div class="container">
            <div class="row">
                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="ui-block responsive-flex1200">
                        <div class="ui-block-title">
                            <div class="h6 title">Posts</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row sorting-container">
                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="ui-block">
                        <div class="ui-block-title bg-blue">
                            <h6 class="title c-white">Create a New Topic</h6>
                        </div>
                        <div class="ui-block-content">
                            <div class="row">
                                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Topic Title</label>
                                        <input class="form-control" type="text" placeholder="" value="New York Comix Con is having the best panels this year!">
                                    </div>
                                </div>
                                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group label-floating is-select">
                                        <label class="control-label">Select Category</label>
                                        <select class="selectpicker form-control">
                                            <option value="RO">The Robot’s Dungeon</option>
                                            <option value="RO">The Robot’s Dungeon</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Topic Title</label>
                                        <textarea class="form-control" style="height: 240px"></textarea>
                                    </div>
                                </div>
                                 <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <a href="#" class="btn btn-secondary btn-lg full-width">Cancel</a>
                                </div>
                                <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <a href="#" class="btn btn-blue btn-lg full-width">Post Topic</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- SUB Footer -->
        <div class="sub-footer-copyright">
            <span>
                Projeto Leitura - Udacity
            </span>
        </div>
         <!-- SUB Footer -->
        
        <!-- JS Scripts -->
        <script src="js/jquery-3.2.1.js"></script>
        <script src="js/bootstrap-select.js"></script>
        <script src="js/base-init.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <!-- JS Scripts -->
    </body>
</html>