<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Projeto Leitura</title>

        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css">

        <!-- Main Styles CSS -->
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/fonts.css">

        <!-- Main Font -->
        <script src="js/webfontloader.min.js"></script>
        <script src="js/svg4everybody.legacy.js"></script>
        <script>
            WebFont.load({
                google: {
                    families: ['Roboto:300,400,500,700:latin']
                }
            });
            svg4everybody();
        </script>
    </head>
    <body>
    
    <!-- Header Standard -->
    
    <div class="main-header">
        <div class="content-bg-wrap bg-account"></div>
        <div class="container">
            <div class="row">
                <div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
                    <div class="main-header-content">
                        <h1>Projeto Leitura</h1>
                        <p>Bem vindos ao Udacity Leitura, onde podemos discutir assuntos variados com uma gama enorme de pessoas</p>
                    </div>
                </div>
            </div>
        </div>
        <img class="img-bottom" src="img/blog_bottom.png" alt="Blog">
    </div>
    
        <!-- ... end Main BlogV1 -->

    <div class="container">
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                 <div class="clients-grid">
                    <ul class="cat-list-bg-style align-center sorting-menu">
                        <li class="cat-list__item active" data-filter="*"><a href="#" class="">All Projects</a></li>
                        <li class="cat-list__item" data-filter=".politics"><a href="#" class="">Politics</a></li>
                        <li class="cat-list__item" data-filter=".natural"><a href="#" class="">Natural</a></li>
                        <li class="cat-list__item" data-filter=".worlds"><a href="#" class="">Worlds</a></li>
                        <li class="cat-list__item" data-filter=".animals"><a href="#" class="">Animals</a></li>
                        <li class="cat-list__item" data-filter=".family"><a href="#" class="">Family</a></li>
                    </ul>
                    <div class="ui-block responsive-flex1200">
                        <div class="ui-block-title">
                            <div class="w-select">
                                <div class="title">Filter By:</div>
                                <div class="w-select">
                                    <fieldset class="form-group">
                                        <div class="btn-group bootstrap-select form-control">
                                            <button type="button" class="btn dropdown-toggle btn-secondary" data-toggle="dropdown" role="button" title="Date (Descending)" aria-expanded="true">
                                                <span class="filter-option pull-left">Date (Descending)</span>
                                            </button>
                                            <div class="dropdown-menu" role="combobox" x-placement="bottom-start" style="max-height: 219px; overflow: hidden; min-height: 0px; position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <ul class="dropdown-menu inner" role="listbox" aria-expanded="true" style="max-height: 201px; overflow-y: auto; min-height: 0px;">
                                                    <li data-original-index="0" class="selected">
                                                        <a tabindex="0" class="dropdown-item" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                                                            <span class="text">Date (Descending)</span
                                                            ><span class="glyphicon glyphicon-ok check-mark"></span>
                                                        </a>
                                                    </li>
                                                    <li data-original-index="1">
                                                        <a tabindex="0" class="dropdown-item" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                                                            <span class="text">Date (Ascending)</span>
                                                            <span class="glyphicon glyphicon-ok check-mark"></span>
                                                        </a>
                                                    </li>
                                                    <li data-original-index="0">
                                                        <a tabindex="0" class="dropdown-item" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                                                            <span class="text">Vote Score</span>
                                                            <span class="glyphicon glyphicon-ok check-mark"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <span class="material-input"></span>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row sorting-container" id="clients-grid-1" data-layout="masonry">
                        <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12  sorting-item family animals natural politics">
                            <div class="ui-block">
                                <article class="hentry post">
                                    <div class="post__author author vcard inline-items">
                                       
                                        <div class="author-date">
                                            <span class="h6 post__author-name fn">Maddy Simmons</span>
                                            <div class="post__date">
                                                <time class="published" datetime="2004-07-24T18:18">
                                                    March 4 at 2:05pm
                                                </time>
                                            </div>
                                        </div>
                                        <div class="more">
                                            <svg class="olymp-three-dots-icon">
                                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                            </svg>
                                            <ul class="more-dropdown">
                                                <li>
                                                    <a href="#">Edit Post</a>
                                                </li>
                                                <li>
                                                    <a href="#">Delete Post</a>
                                                </li>
                                                <li>
                                                    <a href="#">Turn Off Notifications</a>
                                                </li>
                                                <li>
                                                    <a href="#">Select as Featured</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="#" class="post-category bg-primary">THE COMMUNITY</a>
                                    <p>
                                        Hey <a href="#">Cindi</a>, you should really check out this new song by Iron Maid. The next time they come to the city we should totally go!
                                    </p>
                                    <div class="post-additional-info inline-items">
                                        <a href="#" class="post-add-icon inline-items">
                                                <svg id="olymp-heart-icon" viewBox="0 0 36 32" width="100%" height="100%">
                                                    <title>Vote Up</title>
                                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
                                                </svg>
                                                <svg id="olymp-heart-icon" viewBox="0 0 36 32" width="100%" height="100%">
                                                    <title>Vote Down</title>
                                                    <g transform="translate(35,30) rotate(180)">
                                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
                                                    </g>
                                                </svg>
                                            <span>8</span>
                                        </a>
                                        <div class="comments-shared">
                                            <a href="#" class="post-add-icon inline-items">
                                                <svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
                                                <span>0</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="control-block-button post-control-button">
                                        <a href="#" class="btn btn-control">
                                            <svg class="olymp-like-post-icon" role="img">
                                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="btn btn-control">
                                            <svg class="olymp-comments-post-icon">
                                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                                            </svg>  
                                        </a>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12  sorting-item family animals natural politics">
                            <div class="ui-block">
                                <article class="hentry post">
                                    <div class="post__author author vcard inline-items">
                                        
                                        <div class="author-date">
                                            <span class="h6 post__author-name fn">Maddy Simmons</span>
                                            <div class="post__date">
                                                <time class="published" datetime="2004-07-24T18:18">
                                                    March 4 at 2:05pm
                                                </time>
                                            </div>
                                        </div>
                                        <div class="more">
                                            <svg class="olymp-three-dots-icon">
                                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                            </svg>
                                            <ul class="more-dropdown">
                                                <li>
                                                    <a href="#">Edit Post</a>
                                                </li>
                                                <li>
                                                    <a href="#">Delete Post</a>
                                                </li>
                                                <li>
                                                    <a href="#">Turn Off Notifications</a>
                                                </li>
                                                <li>
                                                    <a href="#">Select as Featured</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="#" class="post-category bg-primary">THE COMMUNITY</a>
                                    <p>
                                        Hey <a href="#">Cindi</a>, you should really check out this new song by Iron Maid. The next time they come to the city we should totally go!
                                    </p>
                                    <div class="post-additional-info inline-items">
                                        <a href="#" class="post-add-icon inline-items">
                                                <svg id="olymp-heart-icon" viewBox="0 0 36 32" width="100%" height="100%">
                                                    <title>Vote Up</title>
                                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
                                                </svg>
                                                <svg id="olymp-heart-icon" viewBox="0 0 36 32" width="100%" height="100%">
                                                    <title>Vote Down</title>
                                                    <g transform="translate(35,30) rotate(180)">
                                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
                                                    </g>
                                                </svg>
                                            <span>8</span>
                                        </a>
                                        <div class="comments-shared">
                                            <a href="#" class="post-add-icon inline-items">
                                                <svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
                                                <span>0</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="control-block-button post-control-button">
                                        <a href="#" class="btn btn-control">
                                            <svg class="olymp-like-post-icon" role="img">
                                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"></use>
                                            </svg>
                                        </a>
                                        <a href="#" class="btn btn-control">
                                            <svg class="olymp-comments-post-icon">
                                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                                            </svg>  
                                        </a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pagination -->
        
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">12</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        
        <!-- ... end Pagination -->

    </div>

    <a class="back-to-top" href="#">
        <img src="img/back-to-top.svg" alt="arrow" class="back-icon">
    </a>
    <!-- SUB Footer -->
    <div class="sub-footer-copyright">
        <span>
            Projeto Leitura - Udacity
        </span>
    </div>
    <script>
            
            svg4everybody();
        </script>
    </body>
</html>